:root {
  //Primary
  --clr-lightred: hsl(356, 100%, 66%);
  --clr-weakred: hsl(355, 100%, 74%);
  --clr-weakblue: hsl(208, 49%, 24%);
  //Neutral
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue: hsl(0, 0%, 100%);
  --clr-weak-grayishblue: hsl(207, 13%, 34%);
  --clr-blackblue: hsl(240, 10%, 16%);
  //Gradient
  --clr-grad-lightred: hsl(13, 100%, 72%);
  --clr-grad-red: hsl(353, 100%, 62%);
  --clr-grad-grayblue: hsl(237, 17%, 21%);
  --clr-grad-desblue: hsl(237, 23%, 32%);
  --font-size: 16px;
  --font-family: "Overpass", sans-serif;
  --second-family: "Ubuntu", sans-serif;
}
